$primary: #48B143;
$primaryShadow: rgba(74,168,45,0.4);
$txt-color: #1A1918;
$txt-light-color: #6D6D6D;
$light-color: #A3ACB2;
$bg-light-color: #F5F6F6;
$transparent-color: rgba(0,0,0,0.7);
$list-bg: #E7E7E7;