@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');

@import '../scss/var';
@import '../scss/mixin';
@import '../scss/vendor';

html{
    font-size: 62.5%;
    text-transform: capitalize;
    scroll-behavior: smooth;
    font-family: 'Skoda Pro', sans-serif;
}
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    border: 0; outline: 0;
    list-style: none;
    text-decoration: none;
    line-height: 1.6;
    background: none;
    transition: .2s;
}
.h16{
    height: 1.6rem;
    clear: both;
}

.loader-page{
    width: 102.4rem; height: 100vh;
    margin: auto;
    @include flexCenter(center);
    background: url(../images/background.png) no-repeat;
    background-size: cover;
    transition: opacity 1.5s, visibility 1s;
    &.loader--hidden{
        visibility: hidden;
        opacity: 0;
    }
}
.button-box{
    @include flexCenter(space-evenly);
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem auto 1rem;
    gap: 1rem;
}
.btn, .btn-line{
    border-radius: 4rem;
    width: 30rem; height: 4.5rem;
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bolder;
    cursor: pointer;
}
.btn{
    background: $primary;
    color: #fff;
    box-shadow: 1rem 1rem 4rem $primaryShadow;
}
.btn-line{
    border: .2rem solid $primary;
    color: $primary;
    background: none;
}
hr{
    width: 100%;
    height: .1rem;
    background: $light-color;
    margin: 2rem 0 1rem;
}
::-webkit-scrollbar{
    width: .5rem;
    margin-right: 1rem;
}
::-webkit-scrollbar-track{
    border-radius: 2rem;
    background: $bg-light-color;
    border: .1rem solid $light-color;
}
::-webkit-scrollbar-thumb{
    border-radius: 2rem;
    background: $primary;
}
.bottomGrayText{
    width: 100%;
    background: $bg-light-color;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5rem;
    padding: .5rem;
}


//--------- Log in Page --------------//
.loginContainer{
    width: 102.4rem; height: 100vh;
    margin: auto;
    @include flexCenter(center);
    background: url(../images/bg-login.png) no-repeat;
    background-size: cover;
    .logo{
        width: 19rem; height: 80vh;
        background: url(../images/background.png) no-repeat;
        background-size: cover;
        border-radius: 3rem 0 0 3rem;
        @include flexCenter(center);
        img{
            width: 80%;
        }
    }
    .loginBox{
        width: 61rem; height: 80vh;
        background-color: rgba(255,255,255,0.8);
        border-radius: 0 3rem 3rem 0;
        @include flexCenter(center);
        flex-direction: column;
        gap: 2rem;
        h2{
            font-size: 3rem;
            font-weight: bolder;
            line-height: 1.5;
            padding: 0 1rem;
            margin-bottom: 1.5rem;
            border-bottom: .2rem solid $txt-color;
        }
        .field{
            position: relative;
            input:focus ~ .floating-label, input:not(:focus):valid ~ .floating-label{
                top: -0.8rem;
                left: 2rem;
                font-size: 1.6rem;
                opacity: 1;
                padding: 0 1rem 0 3.5rem;
                background: #F4F4F4;
            }
            input:focus, input:not(:focus):valid{
                border: .1rem solid $txt-light-color;
            }
            .inputText {
                font-size: 1.6rem;
                width: 30rem;
                height: 4.5rem;
                border-radius: 4rem;   
                border: .1rem solid $light-color;
                background: none;
                padding: 0 2rem;
            }
            .floating-label {
                position: absolute;
                font-size: 1.6rem;
                pointer-events: none;
                padding-left: 3.5rem;
                left: .5rem;
                top: 1.3rem;
                opacity: .6;
                transition: 0.2s ease all;
            }
            #CompanyID{                
                background: #F4F4F4 url(../images/iconfinder_Location.png) no-repeat;
                background-position: 1rem top;
            }
            #UserID{                
                background: #F4F4F4 url(../images/User_ID.png) no-repeat;
                background-position: 1rem top;
            }
            #Password{                
                background: #F4F4F4 url(../images/Password.png) no-repeat;
                background-position: 1rem top;
            }
        }
    }
}

    // -------- For Vehicle Card list -----------//
.VehicleCard_list {
    height: calc(100vh - 14rem);
    min-width: 30.2rem;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: .8rem;
    &::-webkit-scrollbar{
        display: none;
    }
    .card{
        width: 100%;
        margin-bottom: 1rem;
        background: #fff;
        border-radius: .5rem; 
        box-shadow: 0 2rem 3rem rgba(0,0,0,0.15);
        cursor: pointer;
        h3{
            font-size: 1.6rem;
            font-weight: bolder;
            color: $txt-color;
            border-bottom: .3rem solid $light-color;
            padding: .6rem 1rem;
            span{
                float: right;
                font-size: 1.4rem;
                font-weight: bold;
                color: $txt-light-color;
                margin-left: .5rem;
                i{
                    color: #E6E615;
                }
            }
        }
        .card-content{
            @include flexCenter(flex-start);
            align-items: flex-start;
            padding: .6rem 1rem;
            gap: 1rem;
            .img-box{
                width: 12.6rem; height: 13rem;
                border-radius: .5rem;  
                overflow: hidden;
                position: relative;
                p{
                    position: absolute;
                    left: 0;bottom: 0;
                    background: rgba(0,0,0,0.7);
                    width: 100%;
                    text-align: center;
                    font-size: 1.6rem;
                    font-weight: bold;
                    padding: .5rem;
                    color: #fff;
                }
            }
            .text-box p{
                font-size: 1.5rem;
                line-height: 1.4;
                font-weight: bold;
                color: $txt-color;  
                margin-bottom: 1rem; 
                &:last-child{
                    margin-bottom: none; 
                }                         
                span{
                    font-size: 1.4rem;
                    color: $primary;
                }
            }
              
        }
    }
}


    // -------- For Appointment -----------//

.mainContainer{
    position: relative;
    width: 102.4rem; height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: url(../images/bg-login.png) no-repeat;
    background-size: cover;
    header{
        width: 100%;
        padding-top: 3rem;
        display: flex;
        justify-content: space-between;
        height: 7rem;
        z-index: 999;
        .topLeft{            
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .bars{
                width: 4.5rem; height: 4.5rem;
                background: #fff;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 1rem;
                gap: .4rem;
                cursor: pointer;
                span{
                    width: 2.2rem; height: .4rem;
                    border-radius: 1rem;
                    background: $txt-color;
                }
                span:nth-child(2){
                    width: 1.6rem;
                }
            }
            .mainTitle{
                @include flexCenter(center);
                background: $primary;
                height: 4rem;
                padding: 0 2.5rem 0 .8rem;
                border-radius: 0 4rem 4rem 0;
                color: #fff;
                font-size: 1.8rem;
                font-weight: bolder;
                gap: .85rem;
            }
        }        
        .search{
            @include flexCenter(flex-start);
            background: rgba(255,255,255,0.8);
            width: 40rem; height: 4rem;
            border: .1rem solid $light-color;
            border-radius: 4rem;
            position: relative;
            .allModel{
                @include flexCenter(space-between);
                width: 13rem; height: 4rem;
                border-right: .1rem solid $light-color;
                padding: 0 .8rem 0 1.5rem;
                font-size: 1.6rem;
                font-weight: bold;
                cursor: pointer;
                transition: .1s;
                i{
                    font-size: 2rem;
                }
                &.active{
                    background: #fff;
                    border-radius: 2rem 0 0 0;
                    border: .1rem solid $light-color;
                    border-bottom: none;
                    z-index: 3;
                }
            }
            .model-list{
                position: absolute;
                top: 3.8rem; left: 0;
                background: #fff;
                display: none;
                padding-top: 1rem;
                border: .1rem solid $light-color;
                border-radius: 0 0 1rem 1rem;
                box-shadow: 1rem 1rem 4rem rgba(0,0,0,0.48);
                height: calc(100vh - 10rem);
                overflow-y: scroll;
                z-index: 1;
                &.active{
                    display: block;
                }
                li a{
                    @include flexCenter(flex-start);
                    flex-direction: row;
                    padding: 1rem;
                    gap: 1rem;
                    .model-img{
                        width: 10rem; height: 6rem;
                        border-radius: .5rem;
                        object-fit: cover;
                        overflow: hidden;
                        & > img{
                            width: 100%; height: auto;
                            object-fit: cover;
                        }
                    }
                    span{
                        font-size: 1.8rem;
                        font-weight: bolder;
                        color: $txt-color;
                    }
                    &:hover{
                        background: $bg-light-color;
                    }
                }
            }
            .search-field{                
                @include flexCenter(space-between);
                width: calc(100% - 13rem);
                padding: 0 1.5rem 0 .8rem;
                font-size: 1.6rem;
                font-weight: bold;
                .search-btn{
                    font-size: 2rem;
                    cursor: pointer;
                }
            }
        }
        .top-right{
            @include flexCenter(space-between);
            gap: 1.5rem;
            position: relative;
            .skoda-logo img{
                height: 1.6rem; width: auto;
            }
            .notification{
                font-size: 2rem;
                position: relative;
                padding: 0 1.5rem;
                cursor: pointer;
                img{
                    height: 1.7rem; width: auto;
                }
            }
            .newNotifi{
                position: absolute;
                top: 4.5rem; right: 0;
                width: 30rem;
                background: #fff;
                border-radius: .5rem;
                box-shadow: 1rem 1rem 4rem rgba(0,0,0,0.4);
                border: .1rem solid $light-color;
                display: none;
                &.active{
                    display: block;
                }
                &::after{
                    position: absolute;
                    content: "";
                    top: -.8rem; right: 1.5rem;
                    width: 1.5rem; height: 1.5rem;
                    border-radius: .3rem 0 0 0;
                    transform: rotate(45deg);
                    background: #fff;
                    border-left: .1rem solid $light-color;
                    border-top: .1rem solid $light-color;
                }
                li{
                    padding: 1rem 1.5rem; 
                    border-bottom: .1rem solid $light-color;
                    cursor: pointer;
                    &:last-child{
                        border-bottom: none;
                    }
                    h5{
                        font-size: 1.5rem;
                        font-weight: bold;
                        line-height: 1.6;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    p{
                        font-size: 1.3rem;
                        font-weight: normal;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
    .navbar{
        position: fixed;
        width: 30rem; height: 100vh;
        top: 0; left: -120%;
        background: #fff;
        box-shadow: 4rem 0 6rem rgba(0,0,0,0.48);
        z-index: 9999;
        &.active{
            left: 0;
            box-shadow: 0 0 0 100vw $transparent-color;
        }
        .userDetail{
            background: url(../images/background.png) no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            padding: 1rem 1rem 1.2rem 2rem;
            position: relative;
            #close{
                position: absolute;
                top: 1rem; right: 1rem;
                font-size: 2rem;
                color: #fff;
                cursor: pointer;
            }
            .ipAdd{
                font-size: 1.4rem;
                color: $txt-light-color;
                font-weight: normal;
                margin-bottom: 1.5rem;
            }
            h5{
                font-size: 2rem;
                font-weight: bolder;
                text-transform: uppercase;
                letter-spacing: .2rem;
                color: #fff;
            }
            .userName{
                font-size: 1.6rem;
                color: $light-color;
                font-weight: bold;
                span{                    
                font-size: 1.4rem;
                font-weight: normal;
                }
            }
        }
        .links{
            padding-top: 1rem;
            li{
                position: relative;
                width: 100%;
                border-bottom: .1rem solid $light-color;
                    position: relative;
                &:last-child{
                    border-bottom: none;
                }
                a{
                    display: flex;
                    align-items: center;
                    color: $txt-color;
                    font-size: 1.6rem;
                    font-weight: bold;
                    padding: 1.2rem 0 1.2rem 5rem;
                }
                &:hover{
                    padding-left: 1rem;
                }
            
                &:nth-child(1){
                    background: url(../images/DashBoard.png) no-repeat;
                    background-position: 2rem 1.2rem;
                    &:hover{
                        background: rgba(163,172,178,0.15) url(../images/DashBoard-black.png) no-repeat;
                        background-position: 3rem 1.2rem;
                    }
                }
                &:nth-child(2){
                    background: url(../images/Vehicle_Check_In.png) no-repeat;
                    background-position: 2rem 1.2rem;
                    &:hover{
                        background: rgba(163,172,178,0.15) url(../images/Vehicle_Check_In-black.png) no-repeat;
                        background-position: 3rem 1.2rem;
                    }
                }
                &:nth-child(3){
                    background: url(../images/Gate_Pass_Verification.png) no-repeat;
                    background-position: 2rem 1.2rem;
                    &:hover{
                        background: rgba(163,172,178,0.15) url(../images/Gate_Pass_Verification-black.png) no-repeat;
                        background-position: 3rem 1.2rem;
                    }
                }
                &:nth-child(4){
                    background: url(../images/Vehicle_Check_Out.png) no-repeat;
                    background-position: 2rem 1.2rem;
                    &:hover{
                        background: rgba(163,172,178,0.15) url(../images/Vehicle_Check_Out-black.png) no-repeat;
                        background-position: 3rem 1.2rem;
                    }
                }
                &:nth-child(5){ 
                    background: url(../images/Vehicle_Pick&Drop.png) no-repeat;
                    background-position: 2rem 1.2rem;
                    &:hover{
                        background: rgba(163,172,178,0.15) url(../images/Vehicle_Pick&Drop-black.png) no-repeat;
                        background-position: 3rem 1.2rem;
                    }
                }
                &:nth-child(6){
                    background: url(../images/Logout.png) no-repeat;
                    background-position: 2rem 1.2rem;
                    &:hover{
                        background: rgba(163,172,178,0.15) url(../images/Logout-black.png) no-repeat;
                        background-position: 3rem 1.2rem;
                    }
                } 
                
                &.sub-links{
                    position: relative;
                    &::after{
                        position: absolute;
                        content: "\f105";
                        font: var(--fa-font-solid);
                        font-size: 2rem;
                        right: 1.5rem; top: 1.2rem;
                        color: $txt-light-color;
                        transition: .2s ease-in;
                    }
                    &:hover ul{                    
                        display: block;
                    }
                    &:hover::after{
                        transform: rotate(90deg);
                    }
                    ul{
                        padding-left: 2.5rem;
                        border-top: .1rem solid var(--light-color);
                        display: none;
                        & li:nth-child(1){
                            background: url(../images/Appointment.png) no-repeat;
                            background-position: 2rem 1.2rem;
                            &:hover{
                                background: rgba(163,172,178,0.15) url(../images/Appointment-black.png) no-repeat;
                                background-position: 3rem 1.2rem;
                            }
                        }
                        & li:nth-child(2){
                            background: url(../images/Walk_In.png) no-repeat;
                            background-position: 2rem 1.2rem;
                            &:hover{
                                background: rgba(163,172,178,0.15) url(../images/Walk_In-black.png) no-repeat;
                                background-position: 3rem 1.2rem;
                            }
                        }
                        & li:nth-child(3){
                            background: url(../images/Road_Test.png) no-repeat;
                            background-position: 2rem 1.2rem;
                            &:hover{
                                background: rgba(163,172,178,0.15) url(../images/Road_Test-black.png) no-repeat;
                                background-position: 3rem 1.2rem;
                            }
                        }
                        & li:nth-child(4){
                            background: url(../images/Transfer.png) no-repeat;
                            background-position: 2rem 1.2rem;
                            &:hover{
                                background: rgba(163,172,178,0.15) url(../images/Transfer-black.png) no-repeat;
                                background-position: 3rem 1.2rem;
                            }
                        }
                    }
                }  
            }
        }
    }
    .top-points{
        position: relative;
        width: 100%; height: 5.2rem;
        margin-top: 1.5rem;
        li{
            position: absolute;
            width: 40%;
            text-align: right;
            font-size: 1.8rem;
            font-weight: bold;
            background: #F5F6F6;
            height: 5.2rem;
            padding: 0 .5rem;
            border-radius: 0 4rem 4rem 0;
            box-shadow: 1rem 0 1rem rgba(0,0,0,0.15);
            @include flexCenter(flex-end); 
            &:nth-child(1){
                z-index: 3;
            }
            &:nth-child(2){
                left: calc(32% - 3rem);
                z-index: 2;
            }
            &:nth-child(3){
                left: calc(64% - 6rem);
                z-index: 1;    
            }
            span{
                width: 4rem; height: 4rem;
                border-radius: 50%;
                border: .2rem solid $light-color;
                background: #fff;
                color: $primary;
                @include flexCenter(center);
                margin-left: 1.5rem;
            }
        }
    }
    .all-appointment{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        margin: 1rem .5rem 0;
        gap: 1rem;
        &::-webkit-scrollbar{
            display: none;
        }
        .appointment-slot{
            min-width: 30.2rem;
            height: calc(100vh - 14rem);
            border-radius: 1rem 1rem 0 0;
            background: $bg-light-color;
            .time-slot{
                background: linear-gradient(#1A1918, #525150);
                width: 100%; height: 4.5rem;
                border-radius: 1rem 1rem 0 0;
                color: #fff;
                font-size: 1.6rem;
                font-weight: bolder;
                @include flexCenter(center);
            }
        }
    }

    // -------- For Error -----------//

    .error-container{
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;
        display: none;
        background:#fff;
        flex-direction: column;
        align-items: center;
        border-radius: 2rem;
        box-shadow: 0 0 0 100vh $transparent-color;
        z-index: 99999;
        &.active{
            display: flex;
        }
        h2{
            font-size: 2.4rem;
            font-weight: bolder;
            color: $primary;
        }
        p{
            font-size: 1.6rem;
            font-weight: bold;
        }
        .button-box{
            @include flexCenter(center);
            width: 100%;
            margin: 1rem auto 1rem;
            gap: 2rem;
            .btn, .btn-line{
                width: 15rem;
                padding: 0 3rem;
            }
        }
    }
       
    // -------- For Popup -----------//
    .main-popup{
        position: absolute;
        bottom: 0; left: 50%;
        transform: translate(-50%, 0);
        width: 80%;
        max-height: 95vh;
        display: none;
        background:#fff;
        border-radius: 2rem 2rem 0 0;
        box-shadow: 0 0 0 100vh $transparent-color;
        z-index: -1;
        &.active{
            z-index: 99999;
            display: block;
        }
        .close{
            position: absolute;
            top: .5rem; right: .5rem;
            width: 4rem; height: 4rem;
            @include flexCenter(center);
            border-radius: 50%;
            background: $bg-light-color;
            font-size: 1.4rem;
            color: $txt-color;
            cursor: pointer;
        }
        .popup-titel{
            position: relative;
            height: 4.5rem;
            @include flexCenter(flex-start);
            display: inline-flex;
            gap: .8rem;
            left: -1.5rem;
            margin-top: 3rem;
            background: $primary;
            border-radius: 0 4rem 4rem 0;
            box-shadow: 0 0 2rem rgba(0,0,0,0.3);
            padding: 0 2rem 0 2rem;
            color: #fff;
            font-size: 1.8rem;
            font-weight: bolder;
        }
        &::before{
            position: absolute;
            top: 1.4rem; left: -.9rem;
            content: '';
            width: 3rem; height: 3rem;
            background: #317A1B;
            transform: rotate(45deg);
            z-index: -2;
        }
        &::after{
            position: absolute;
            top: 0; left: 0;
            content: '';
            width: 3rem; height: 3rem;
            border-radius: 2rem 0 0 0;
            background: #fff;
            z-index: -1;
        }
        .companyLogo{    
            margin-right: 7rem;
            margin-top: 3rem;
            height: 4.5rem;
            float: right;
            @include flexCenter(center);
        }
        .containt{
            position: relative;
            margin: 0 auto;
            padding: 2.8rem 0 1.6rem;
            &::-webkit-scrollbar{
                display: none;
            }
            &:has(.bottomGrayText){
                padding-bottom: 0;
            }
            .primery-detail{
                @include flexCenter(center);
                margin: 2rem auto 1.5rem;
                gap: 2rem;
                ul {
                    width: 40%;
                    @include flexCenter(center);
                    li{
                        font-size: 1.5rem;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        & > ul{
                            width: 100%;
                            @include flexCenter(flex-start);
                            align-items: flex-start;
                            border-bottom: 0.1rem solid #F5F6F6;
                            li{
                                width: 50%;
                                border: none;
                            }
                        }
                        &:nth-child(2){
                            font-weight: bolder;
                            margin-right: 0;
                        }
                        span{ 
                            width: 100%;
                            padding: .5rem 1rem;                    
                            border-bottom: .1rem solid $bg-light-color;
                        }
                    }
                }
            }
            .gray-field{
                @include flexCenter(center);
                flex-direction: column;
                width: 80%; min-width: 500px;
                overflow-x: scroll;
                margin: 2rem auto 1.5rem;
                gap: 1rem;
                background: $bg-light-color;
                box-shadow: .3rem .3rem .5rem rgba(0,0,0,0.15);
                border-radius: 2rem;
                padding: 1.5rem;
                &::-webkit-scrollbar{
                    display: none;
                }
                .field{                
                    @include flexCenter(space-between);
                    flex-wrap: wrap;
                    position: relative;
                }
                .brouse-img-list{
                    width: 100%;
                    display: grid;
                    grid-template-columns: auto auto auto auto auto;
                    gap: 1rem;
                    .box-img{
                        width: 12rem;
                        height: 8rem;
                        border-radius: .5rem;
                        @include flexCenter(center);
                        background: #fff;
                        box-shadow: 0 0 1rem rgba(0,0,0,0.15);
                        cursor: pointer;
                        .img-store{
                            width: 100%; height: 100%;
                            overflow: hidden;
                            img{
                                width: 100%; height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
                p{
                    width: 100%;
                    text-align: left;
                    font-size: 1.4rem;
                    font-weight: normal;
                }
            }
        }
    }
    label{
        display: inline;
        width: 20rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .inputText{
        font-size: 1.6rem;
        width: 30rem;
        height: 4.5rem;
        border-radius: .5rem;   
        border: .1rem solid $light-color;
        background: none;
        position: relative;
        padding: 0 1.5rem;
    }
    .alert-info{    
        position: absolute;
        width: 30rem;
        right: 0; bottom: -2.5rem;
        font-size: 1.4rem;
        font-weight: normal;
    }
    &.deactive{
        opacity: .5;
        cursor: none;
    }
    .scaner-img{
        position: absolute;
        right: 1rem; top: 1.3rem;
        cursor: pointer;
    }
    .scaner-img1{
        position: absolute;
        right: 1rem; top: .3rem;
        cursor: pointer;
    }
    .field:has(.scaner-img){
        position: relative;
    }
//--------------Other Page---------------//
.container_body{
    width: 100%;
    margin-top: 1.5rem;
    height: calc(100vh - 8rem);
    background: rgba(255,255,255,0.5);
    padding: 1.5rem;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    &:has(.VehicleCard_list){
    display: flex;
    }
    .card_container{
        width: 100%;
        @include flexCenter(flex-start);
        flex-wrap: wrap;
        gap: 2rem;
        .dash_card{
            position: relative;
            background: url(../images/Dashboard_card-bg.png) no-repeat;
            background-size: cover;
            height: 9rem;
            flex-basis: calc(25% - 1.5rem);
            padding: 1rem;
            border-radius: 1.5rem;
            cursor: pointer;
            p{
                @include flexCenter(flex-start);
                gap: 1rem;
                font-size: 1.6rem;
                font-weight: bolder;
                color: #fff;
            }
            .graph{
                position: absolute;
                left: 1rem; bottom: .5rem;
            }
            .graph_Value{
                position: absolute;
                right: 0; bottom: 1rem;
                min-width: 4.5rem;
                font-size: 2rem;
                padding: 0 1rem;
                font-weight: bolder;
                color: $txt-color;
                background: #fff;
                border: .2rem solid $bg-light-color;
                border-radius: 3rem .5rem .5rem 3rem;
            }
        }
    }
    table, .list_container{
        width: 100%;
        min-width: 600px;
        margin-top: 1.5rem;
        border-collapse: separate;   
        border-spacing: 0 .2rem;
        display: table;
        overflow-x: scroll;
        tr{
            cursor: pointer;
            th, td{
                text-align: left;
                font-size: 1.6rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                &:nth-child(1){
                    text-align: right;
                }
                &:nth-child(8), &:nth-child(9){
                    text-align: center;
                }
            }
            th{
                padding: .8rem .5rem;
                background: $txt-color;
                color: #fff;
                font-weight: bolder;
            } 
            td {
                padding: .5rem;
                background: #fff;
                color: $txt-color;
                font-weight: normal;
            }
        }
        ul{
            display: table-row;
            background: #fff;
            color: $txt-color;
            padding: .6rem 0rem;
            box-shadow: 0 0 10rem rgba(76, 61, 61, 0.15);
            cursor: pointer;
            &.list_title{
                background: $txt-color;
                color: #fff;
                padding: .8rem 0rem;
            }
            li{
                display: table-cell;
                font-size: 1.6rem;
                font-weight: normal;
                text-align: left;
                flex-grow: 1;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
    .search_bg{
        @include flexCenter(space-between);
        width: 100%;
        padding: 1.5rem;
        background: $bg-light-color;
        border-radius: 2rem;
        box-shadow: .3rem .3rem .5rem rgba(0,0,0,0.15);
        .field{
            @include flexCenter(center);
            gap: .8rem;
            font-size: 1.5rem;
            font-weight: bold;
            label{
                width: fit-content;
            }
        }
        .btn{
            width: 16rem;
            margin-top: 0;
        }
    }
    .searchListBox{
        width: 100%;
        display: flex;
        margin-top: 1rem;
        .VehicleCard_list{
            display: none;
            &.active{
                display: block;
            }
        }
    }
    &:has(.searchListBox) {
        display: block;
    }
}

}
.radio-input {
    display: none;
  }
  
  .label-radio {
    cursor: pointer;
    position: relative;
    padding-left: 2.5rem;
  }
  
  .radio-button {
    height: 1.6rem;
    width: 1.6rem;
    border: .1px solid $primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .radio-button::after {
    content: "";
    display: block;
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .radio-input:checked ~ .label-radio .radio-button::after {
    opacity: 1;
  }
  

.graphTable{
    display: block; /* fixes layout wonkiness in FF1.5 */
    position: relative; 
    width: 60rem; 
    height: 30rem;
    margin: 1.1rem 0 0; 
    padding: 0;
    background: transparent;
    font-size: 1.1rem;
    tr, td{
        position: absolute;
        bottom: 0; 
        width: 15rem; 
        z-index: 2;
        margin: 0; 
        padding: 0;
        text-align: center;
    }
    tr{
        height: 29.6rem;
        padding-top: .2rem;
        border-top: .1rem dotted #C4C4C4; 
        color: #AAA;
    }
}  


#q-graph {
  display: block; /* fixes layout wonkiness in FF1.5 */
  position: relative; 
  width: 90%; 
  height: 30rem;
  margin: 1.1rem 0 0; 
  padding: 0;
  background: transparent;
  font-size: 1.1rem;
  border-left: .1rem solid $txt-light-color;
  border-bottom: .1rem solid $txt-light-color;
  tr, th, td{
    position: absolute;
    bottom: 0; 
    width: 15rem; 
    z-index: 2;
    margin: 0; 
    padding: 0;
    text-align: center;
  }
  #q1 { left: 0; }
  #q2 {left: 8rem;}
  #q3 {left: 16rem;}
  #q4 {left: 24rem;}
  #q5 {left: 32rem;}
  #q6 {left: 40rem;}
}

#q-graph thead{
    tr {
        left: 100%; 
        top: 50%; 
        bottom: auto;
        margin: -2.5rem 0 0 5rem;
    }
    th {
        width: 7.5rem; 
        height: auto; 
        padding: 0.5rem 1rem;
    }
    th {bottom: -2rem; vertical-align: top;}
}


.btn_prev, .btn_next{
    position: absolute;;
    bottom: 50%;
    padding: 0 1rem;
    height: 4rem;
    background: $bg-light-color;
    transition: 0.1s linear;
    @include flexCenter(center);
    gap: .8rem;
    &:hover{
        background: $primary;
        color: #fff;
    }
}
.btn_prev{
    left: 0;
    border-radius: 0 2rem 2rem 0;
}
.btn_next{
    right: 0;
    border-radius: 2rem 0 0 2rem;
}

#ticks {
  position: relative; 
  top: -29rem; left: 0;
  width: 90%; height: 30rem; 
  z-index: 1;
  margin-bottom: -29rem;
  font-size: 1rem;
  #checkOut_car_icon {
    position: relative; 
    top: 6.5rem; left: 22rem;
    width: 3rem; height: 3rem; 
    border: .1rem solid $txt-color;
    border-radius: 50%;
    background: #fff;
    @include flexCenter(center);
    z-index: 2;
    .value{
        position: absolute;
        top: -2rem; left: 50%;
        transform: translateX(-50%);
        font-size: 1.4rem;
        font-weight: bold;
    }
  }
  .tick {
    position: relative; 
    border-top: .1rem dotted #C4C4C4; 
    width: 100%; height: 5rem;
    p {
        position: absolute; 
        left: -3rem; top: -1rem; 
        margin: 0 0 0 0.5rem;
      }
  }
}





@media (max-width:1024px) {
    html{
        font-size: 55%;
    }
    .loader-page, .loginContainer, .mainContainer{
        width: 100%;
        height: 100vh;
    }
    .loginContainer .logo{
        width: 22rem;
    }
    .mainContainer .container_body .card_container .dash_card {
        flex-basis: calc(33% - 1.2rem);
    }
    #q-graph tr, #q-graph th, #q-graph td {
        width: 8rem;
    }
    .button-box {
        width: 80%;
    }
}

@media (max-width:768px) {
    .loginContainer{
        flex-direction: column;
        .logo{
            width: 50rem;
            height: 20rem;
            border-radius: 3rem 3rem 0 0;
            img{
                width: auto; height: 80%;
            }
        }
        .loginBox{
            width: 50rem;
            border-radius: 0 0 3rem 3rem;
        }
    }
    .mainContainer header{
        flex-wrap: wrap;
        gap: 1.5rem;
        height: 12.5rem;
        .search{
            flex: 1 0 calc(100% - 2rem);
            order: 1;
            margin: 0 .8rem;
        }
    }    
    .mainContainer .container_body .card_container .dash_card {
        flex-basis: calc(50% - 1.2rem);
    }
    .mainContainer .main-popup {
        position: absolute;
        bottom: 0;
        width: 100%; height: 100vh;
        max-height: 100vh;
        border-radius: 0;
        .containt{
            height: calc(100vh - 8rem);
            border-radius: 0;
            .btn_prev, .btn_next{
                bottom: 2rem;
            }
            .companyLogo {
                margin-right: 5rem;
            }
            .primery-detail {
                flex-direction: column;
                gap: 1rem;
                ul{
                    width: 80%;
                }
            }
        }
    }
}


@media (max-width:460px) {
    .loginContainer{
        .logo, .loginBox{
            width: 100vw;
        }
    }
    .mainContainer {
        .top-points li {
            width: 75%;
            &:nth-child(2) {
                left: calc(17% - 3rem);
            }
            &:nth-child(3) {
                left: calc(34% - 6rem);
            }
        }
        .container_body .card_container .dash_card {
            flex-basis: calc(100% - 1.2rem);
        }
        .main-popup .containt{
            .companyLogo {
                margin-right: 1rem;
                align-items: self-end;
                }
            .gray-field {
                min-width: 400px;
                .field {
                    justify-content: center;
                    width: 30rem;
                    .scaner-img{
                        top: 3.6rem;
                    }
                    .scaner-img1{
                        top: 2.6rem;
                    }
                }
                label {
                    width: 30rem;
                }
                #q-graph{
                    #q2 {left: 6rem;}
                    #q3 {left: 12rem;}
                    #q4 {left: 18rem;}
                    #q5 {left: 24rem;}
                    #q6 {left: 30rem;}    
                } 
            }
        } 
    }
}


@media (max-width:420px) {
    .mainContainer header {
        gap: 0.5rem;
        height: 15.5rem;
        .top-right {
            width: 100%;
        }
    }
  
  }